* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 6rem;
    border-bottom: 1px solid #ccc;
}

.header p {
    font-size: 30px;
    font-weight: bold;
    color: #26d14b;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: #333;
    margin-left: 30px;
}

li a:hover {
    color: #26d14b;
}

.container {
    display: flex;
    margin: 3rem 150px;
}

.cart {
    width: 65%;
    background-color: #f2f2f2;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0;
}

table {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.table-head {
    color: white;
    background-color: #26d14b;
}

.head-img {
    text-align: left;
    padding-left: 7px;
}

.summary {
    background-color: #f2f2f2;
    width: 35%;
    margin-left: 20px;
}

.detail {
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    background-color: #26d14b;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 7px;
}

button {
    border: none;
    background-color: red;
    padding: 8px 30px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}

.checkout {
    width: 100%;
    background-color: #26d14b;
}

button:hover,
.checkout:hover {
    background-color: #333;
}

.img-box {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #080808;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.img2 {
    max-width: 60px;
    max-height: 60px;

}

.img3 {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    z-index: 25;

}

.img4 {
    position: absolute;
    max-width: 60px;
    max-height: 60px;
    z-index: 20;
    top: 220px;
    left: 70px;

}

.img5 {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    z-index: 19;
    top: 120px;
    left: 70px;

}

.img6 {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    z-index: 17;
    top: 110px;
    left: 70px;

}

.img7 {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    z-index: 18;
    top: 110px;
    left: 70px;

}

.img8 {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    z-index: 18;
    top: 110px;
    left: 210px;

}

.img9 {
    position: absolute;
    max-width: 60px;
    max-height: 60px;
    z-index: 20;
    top: 220px;
    left: 210px;

}

.img10 {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    z-index: 16;
    top: 90px;
    left: 50px;

}

.img11 {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    z-index: 15;
    top: 80px;
    left: 110px;

}

.fa-trash {
    color: #26d14b;
}

.fa-trash:hover {
    color: #333;
}

.heart {
    color: red;
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.heart:hover {
    color: #333;
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

#image {
    width: 10%;
}

#name {
    width: 30%;
}

#like {
    width: 10%;
}

#quantity {
    width: 30%;
}

#price {
    width: 20%;
}

#delete {
    width: 10%;
}



#checkout {
    padding: 0 10px;
    margin-bottom: 20px;
}